# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Library Files
#*.vs
#*.vcxproj
#*.db
#*.opendb
#*.sln
#*.filters
*.ilk
#OB*.pdb
*.idb
*.tlog
*.log

# Auxillary Files
*.zip


# SDL extensions
*.user
*.swp
/sample/Branch_practice
/SDL_draw
*.pdb
/Entities/Game_Entities/Game_Entities.VC.VC.opendb
